Pieniazek_projekt_srvr/WebContent/wsdl/ImgProc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://srvr.pieniazek" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://srvr.pieniazek" xmlns:intf="http://srvr.pieniazek" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://srvr.pieniazek" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="startProc">
    <complexType>
     <sequence>
      <element name="path" type="xsd:string"/>
      <element name="mode" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="startProcResponse">
    <complexType>
     <sequence>
      <element name="startProcReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="startProcRequest">

      <wsdl:part element="impl:startProc" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="startProcResponse">

      <wsdl:part element="impl:startProcResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ImgProc">

      <wsdl:operation name="startProc">

         <wsdl:input message="impl:startProcRequest" name="startProcRequest">

       </wsdl:input>

         <wsdl:output message="impl:startProcResponse" name="startProcResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ImgProcSoapBinding" type="impl:ImgProc">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="startProc">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="startProcRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="startProcResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ImgProcService">

      <wsdl:port binding="impl:ImgProcSoapBinding" name="ImgProc">

         <wsdlsoap:address location="http://localhost:8080/Pieniazek_projekt_srvr/services/ImgProc"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
